{% set current_lang = request.environ.CKAN_LANG %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <a href="/"><img src="/img/logo.png" style="width:75%"></a>
            </div>
            <div class="col-md-4 col-sm-4 footer-links">
                <a href="mailto:iychang@uci.edu"  target="_blank">Contact</a>
                <a href="https://uci.edu/privacy/index.php"  target="_blank">Legal Notices</a>
                <a href="https://ckan.org" target="_blank">Open Source.</a>
            </div>
            <div class="col-md-3 col-sm-3 social-media-box">
            </div>
            <div class="col-md-3 col-sm-5 footer-link">
                <a href="https://pipeline.biochem.uci.edu/">Created by UCI P30 Skin Multi-Omics Core</a>
            </div>
        </div>
    </div>
</footer>
